.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

.table-nowrap td {
    white-space: nowrap !important;
}

.table-ultra-condensed thead > tr > th,
.table-ultra-condensed tbody > tr > th,
.table-ultra-condensed tfoot > tr > th,
.table-ultra-condensed thead > tr > td,
.table-ultra-condensed tbody > tr > td,
.table-ultra-condensed tfoot > tr > td {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 0;
}

.table-condensed-height thead > tr > th,
.table-condensed-height tbody > tr > th,
.table-condensed-height tfoot > tr > th,
.table-condensed-height thead > tr > td,
.table-condensed-height tbody > tr > td,
.table-condensed-height tfoot > tr > td {
  padding-top: 5px;
  padding-bottom: 5px;
}